
<div style="text-align:center">
        <h1>
          Welcome to {{title}}!
        </h1>
        <div class="bg-danger" *ngIf="mostrar"> {{error}} </div>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      
      </div>
      <h2>Here are some links to help you start: </h2>
      <h5>{{ a + b }}</h5>
      
      <button [disabled]="!listo" (click)="clickeado()"> hola</button>
      <input type="text" placeholder="tu nombre" [(ngModel)]="nombre" />
      <input type="text" placeholder="tu apellido" [(ngModel)]="nombre2" />
      
      <br />
      
      <p>mi nombre es {{ nombre }} {{ nombre2 }}</p>
      
      
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>lugares cercanos</h2>
            <a routerLink="/crear" class="btn btn-primary">Crear nuevo negocio </a>
      <ul class="list-group">
          <ng-container  *ngFor=" let lugar of lugares">
            <li class="list-group-item" > 
                <a routerLink="../detalle/{{lugar.id}}" [queryParams]="{ action: 'edit' }"> <h3>{{ lugar.nombre }}</h3></a> 
                
                <small style="float: right;">creado {{lugar.id | date:'mediumTime' | uppercase}}</small>
                <p>{{lugar.descripcion}}</p>
                </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Destacados</h2>
      </div>
      </div>
      </div>