<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PlatziSquare</a>

    <div class="navbar-header">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="activelv" class="nav-item ">
          <a class="nav-link " routerLink="/lugares">Lugares </a>
        </li>
        <li routerLinkActive="activelv" class="nav-item">
          <a class="nav-link" routerLink="/detalle">Detalle</a>
        </li>

      </ul>
    </div>
    
  </div>
  </nav>

<router-outlet></router-outlet>
 
